<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Enter the Country</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      h1{
    color:  black;
      }
      input[type="text"] {
    width: 75%;
   
    color:blue;
      }
      body{
      
      background-image: url("http://globalequality.org/storage/images/colormap-web.jpg");
      }

      
      
    </style>
  </head>
  <body>
    
    <div class="container-fluid">

      <h1>Enter a Region of the world to see a random name that is used there!</h1>

      <form action='/result' method='post' >
        <br> 
        <input type="text" name="user_region_name" placeholder="Ex: United States ">

        <input type="Submit" value="See the name">
      </form>
    </div>
    
  </body>
</html>