<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Enter the Playlist</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
     h1{
    color: black;
      }
      input[type="text"] {
    width: 75%;
  color:blue;
      }
      h4 { 
   color: black;
   }
      
      body{
        background-image: url("http://globalequality.org/storage/images/colormap-web.jpg");
      }
      </style>
  </head>
  <body>
     <h1><%= @user_name %></h1>
     <br>
     <br>
     <br> 
     <br>
    
    <h2><%= @user_name %> is a name that can be given to a person in this region.</h2>

    <div class="container-fluid">
     <name src=<%=@user_name%>>
    </div>
    
  </body>
</html>